@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Poppins:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poor Story", cursive;
  /* font-family: "Poppins", sans-serif; */
}
:root {
  --primary-color: #755139ff;
  --secondary-color: #d4b996ff;
}
body {
  background-color: var(--primary-color);
}
html {
  font-size: 75.5%;
}

/* Main part */
.Header {
  width: 100%;
  height: 500px;
  color: var(--secondary-color);
  box-shadow: 0 5px 10px var(--secondary-color);
  display: flex;
  align-items: center;
  position: relative;
}
.Header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../public/images/니체.jpeg);
  clip-path: circle(60% at left 300px);
  z-index: -1;
}

.row2 {
  position: absolute;
  top: 10px;
  right: 150px;
  text-align: center;
}
.row2 h2 {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 15px;
}
.row2 img {
  margin-top: 30px;
  width: 250px;
}
.row1 h1 {
  font-size: 3rem;
  text-align: center;
  margin-left: 35px;
  font-family: "Poor Story", cursive;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input {
  outline: 0;
  border: 0;
  width: 350px;
  height: 35px;
  padding: 0 0.5rem;
  font-size: 15px;
  font-weight: bold;
}
.search button {
  outline: none;
  border: none;
  height: 35px;
  padding: 0 0.5rem;
}
/* 
여기선 카드 아래 컴포넌트 css */
.Container {
  width: 65%;
  margin: 0 auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
  grid-gap: 20px;
  box-sizing: border-box;
}
.card {
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px rgba(212, 185, 150, 0.5);
  transition: 0.5s;
  text-align: center;
  position: relative;
}
.card:hover {
  transform: scale(0.9);
  background-color: rgba(255, 255, 255, 0.8);
}
.card img {
  width: 100%;
  height: 200px;
  border-radius: 1rem 1rem 0 0;
}
.card .bottom {
  display: flex;
  flex-direction: columns;
}
.card .bottom .title {
  font-size: 14px;
  margin-bottom: 12px;
}
.card .bottom .amount {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.2rem;
}
/* 
fucking responsive thinsg stuff */
.overlay {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-inner {
  background: white;
  width: 800px;
  height: 600px;
  padding: 2rem;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.3rem;
  overflow-y: scroll;
}

.overlay-inner .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  outline: none;
  border: none;
  font-size: 20px;
  color: #666;
  cursor: pointer;
}

.overlay-inner .inner-box {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.overlay-inner .inner-box img {
  margin-right: 20px;
  width: 180px;
  height: 240px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.overlay-inner .inner-box .info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
}

.overlay-inner .inner-box h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.overlay-inner .inner-box h4 {
  margin: 0;
  color: #999;
  font-size: 18px;
  font-weight: normal;
}

.overlay-inner .inner-box .price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.overlay-inner .inner-box .price-box .price {
  font-size: 26px;
  font-weight: bold;
  color: #ff6b6b;
}

.overlay-inner .inner-box button {
  outline: none;
  border: none;
  width: 150px;
  border-radius: 5px;
  background-color: #24a0ed;
  color: white;
  font-weight: bold;
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.overlay-inner .inner-box button:hover {
  background-color: #187bcd;
}

.overlay-inner .description {
  margin-top: 2rem;
  text-align: justify;
  font-size: 15px;
  line-height: 1.6;
}
